:root
{
    --mainColor:rgb(0, 0, 0);
    --secondaryColor:black;

    -borderColor:rgb(255, 255, 255);
    --mainText:rgb(0, 0, 0);
    --secondaryText:black;
}

h1,h2,h3,h4,h5,h6,li,a,input,label{
    color: black;
}
.s1{
    background-color: rgb(1, 196, 255);
}
.s2{
   background-color: rgb(1, 196, 255);
}
#navigation li a{
    color: white;
}
.intro-wrapper{
    border-color: black;
}
.nav-wrapper{
    border-color: black;
}
.about-me p{
    color: black;
}
.left-about-me a{
    color: black;
}
.social-handle-links a{
    color: black;
}
.post-preview p{
    color:black;
}
#skills li{
    color: black;
}
#preview h3,p{
    color: black;
}