:root
{
    --mainColor:rgb(223, 223, 223);
    --secondaryColor:black;

    --borderColor:black;
    --mainText:black;
    --secondaryText:black;
}
.text-align-center{
    text-align: center;
}
body *{
    transition: 0.8s;
}
html,body{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    color: var(--mainText);
    font-weight: 300;
    font-family: 'Russo One', sans-serif;
}
p,li{
    color: var(--mainText);
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    list-style: none;
}
a{
    text-decoration: none;
    color:rgb(18, 126, 214)
}
h1{font-size: 55px}
h3{font-size: 22px}
h2{font-size: 42px}
.s1{
     background-color: var(--mainColor);
    /* border-bottom: 1px solid var(--secondaryColor);  */
    overflow: auto;
}
.s2{
    /* border-bottom: 1px solid var(--secondaryColor);  */
    overflow: auto;
    margin: 10px 0;
}
.main-container{
    width: 1200px;
    margin: auto;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}
.greeting-wrapper{
    display: flex;
    height: 10rem;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}
.intro-wrapper{
    background-color: white;
    border:3px solid var(--mainColor);
    border-radius: 10px 10px 0 0 ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem 30rem;
    grid-template-areas: 
    'nav-wrapper nav-wrapper'
    'left-column right-column'
    ;
}
.nav-wrapper{
    display: flex;
    border-radius: 10px 10px 0 0 ;
    justify-content: space-between;
    align-items: center;
    grid-area:nav-wrapper ;
    border:1px solid var(--borderColor);
    background-color:  black;
}
.left-column{
    grid-area:left-column ;
    /* border: 1px solid black; */
    padding-top: 40px;
    padding-bottom: 50px;
}
.right-column{
    grid-area:right-column;
    /* border: 1px solid black; */
}
.dots-wrapper{
    display: flex;
}
.dot{
    height: 15px;
    width: 15px;
    margin: 0 5px;
}

#dot1{
    background-color: rgb(235, 57, 57);
    border-radius: 60px;
}
#dot2{
    background-color: orange;
    border-radius: 60px; 
}
#dot3{
    background-color: green;
    border-radius: 60px;
}
#navigation{
    list-style: none;
    margin: 0;
    padding: 15px;
}
#navigation li{
    display: inline-block;
}

#profile-pic{
    display: block;
    object-fit: cover;
    border:2px solid rgb(204, 203, 203);
    -webkit-box-shadow: -4px 1px 105px -29px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 1px 105px -29px rgba(0,0,0,0.75);
    box-shadow: -4px 1px 105px -29px rgba(0,0,0,0.75);
    height:285px;
    width: 200px;
    margin: 0 auto;
}
.theme-options-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.theme-dot{
    margin: 0 10px;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.theme-dot:hover{
    border-width: 5px;
}
#light-mode{
    background-color: white;
}
#dark-mode{
    background-color: black;
}
#colour-mode{
    background-color: rgb(1, 196, 255);
}
.right-column{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.preview-shadow{
    background-color: wheat;
    width: 300px;
    height: 140px;
    padding-left: 30px;
    padding-top: 30px;
}
#preview{
    height: 160px;
    width: 320px;
    border: 2px solid rgb(22, 78, 231);
    border-radius: 10px;
    -webkit-box-shadow: -19px -16px 42px -8px rgba(0,0,0,0.75);
-moz-box-shadow: -19px -16px 42px -8px rgba(0,0,0,0.75);
box-shadow: -19px -16px 42px -8px rgba(0,0,0,0.75);
    background-color: rgb(247, 237, 220);
    padding: 15px;
}
#about-para{
    font-size: 12px;
}
.about-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'about-me right-social-links'
    ;
    
}
.about-me{
    margin: 0 15px;
}
.left-about-me{
    display: flex;
    flex-direction: column;
    grid-area: about-me;
    /* border: 1px solid black; */
}
.skills-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#skills{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: wheat;
    width: 650px;
    -webkit-box-shadow: -19px -16px 42px -8px rgba(0,0,0,0.75);
-moz-box-shadow: -19px -16px 42px -8px rgba(0,0,0,0.75);
box-shadow: -19px -16px 42px -8px rgba(0,0,0,0.75);
}

.right-social-links{
    grid-area: right-social-links;
    /* border: 1px solid black; */
}
.social-images 
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-images img
{
    cursor: pointer;
}
.right-social-links img
{
    margin:30px 50px;

}
.post-wrapper{
    display: flex;
    overflow: auto;
}
.post{
    margin: 0 10px;
}
.post img{
    -webkit-box-shadow: -2px -1px 38px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -1px 38px 0px rgba(0,0,0,0.75);
    box-shadow: -2px -1px 38px 0px rgba(0,0,0,0.75); 
}

@media screen and (max-width : 1200px){
    .main-container{
        width: 55%;   
    }
}
@media screen and (max-width : 1000px){
    .intro-wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 3rem 30rem;
        grid-template-areas: 
        'nav-wrapper'
        'left-column'
        'right-column'
        ;
    }
}
@media screen and (max-width : 1200px){
    .preview-shadow{
        width: 200px;
        height: 100px;
    }
    #preview{
        height: 100px;
        width: 200px;
        overflow-y: auto;
    }
}
@media screen and (max-width : 1205px){
    .about-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'about-me '
        'right-social-links';
        overflow:auto;
        justify-content: center;
        align-items: center
        ;
        
    }
    #skills{
        overflow:auto;
    }
}
@media screen and (max-width : 1205px){
    .post-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow:auto;
    }
}
